<% decorated = decorate resource %>
<h1><%= wt 'labels.create', model: to_model_label(current_model_class) %></h1>
<%= form_for(
  decorated, url: url_for(action: :index),
  method: :post, html: { :multipart => true }, builder: Wallaby::FormBuilder
) do |form| %>
  <%= render 'form', form: form, decorated: decorated %>
<% end %>
